<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Registro usuario</title>
	<link href="https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<script th:src="@{/script/script.js}"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
		crossorigin="anonymous"></script>
</head>

<body>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container">
			<a class="navbar-brand mx-auto" href="#">BANCO ALTAIR</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
					<li class="nav-item me-3">
						<a class="nav-link fw-bold text-white" th:href="@{/auth/iniciar-sesion}"
							th:if="${not #authorization.expression('isAuthenticated()')}">Iniciar sesión</a>
					</li>
					<li class="nav-item">
						<a class="nav-link fw-bold text-white" th:href="@{/privada/administracion-usuarios}"
							sec:authorize='hasAnyRole("ROLE_ADMIN")'>Administración usuarios</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>


	<div class="container py-3">
		<div class="card p-4">
			<form th:action="@{/auth/crear-cuenta}" enctype="multipart/form-data" method="post"
				th:object="${usuarioDTO}">

				<h2 class="text-center mb-4">Registro nuevo usuario</h2>
				<div class="mb-3">
					<label for="email" class="form-label">Correo Electrónico</label>
					<input th:field="*{email}" type="email" id="email" name="email" class="form-control"
						placeholder="Escribe tu correo electrónico" required />
				</div>
				<div class="mb-3">
					<label for="password" class="form-label">Contraseña</label>
					<input th:field="*{clave}" type="password" id="password" name="password" class="form-control"
						placeholder="Escribe tu contraseña" />
				</div>


				<hr class="border border-primary border-2 opacity-80 mt-4 mb-4">
				<div class="mb-3">
					<label for="nombre" class="form-label">Nombre</label>
					<input th:field="*{nombre}" type="text" id="nombre" name="nombre" class="form-control"
						placeholder="Escribe tu nombre" required />
				</div>
				<div class="mb-3">
					<label for="apellidos" class="form-label">Apellidos</label>
					<input th:field="*{apellidos}" type="text" id="apellidos" name="apellidos" class="form-control"
						placeholder="Escribe tus apellidos" required />
				</div>
				<div class="mb-3">
					<label for="telefono" class="form-label">Teléfono</label>
					<input th:field="*{movil}" type="tel" id="telefono" name="telefono" class="form-control"
						placeholder="Escribe tu número de teléfono" required />
				</div>
				
				<div sec:authorize="hasRole('ROLE_ADMIN')" class="mb-3">
					<label for="cuentaConfirmada" class="form-label">Cuenta Confirmada</label>
					<input th:field="*{cuentaConfirmada}" type="checkbox" id="cuentaConfirmada" name="cuentaConfirmada"
						class="form-check-input" />
				</div>
				<button type="submit" id="btnRegistro" class="btn btn-primary mt-4"><i
						class="bi bi-person-add fs-5"></i> Crear cuenta</button>
			</form>
		</div>
	</div>



	<script th:if="${not #strings.isEmpty(emailYaRegistrado)}">
		mostrarNotificacion("¡Error al crear cuenta!", "El email introducido ya se encuentra registrado en el sistema", 'error');
	</script>
	<script th:if="${not #strings.isEmpty(error)}">
		mostrarNotificacion("¡Error!", "Ocurrio un error no esperado, intentelo de nuevo", 'error');
	</script>
	<script th:if="${not #strings.isEmpty(usuarioRegistradoPeroNoConfirmado)}">
		mostrarNotificacion("¡Debe confirmar su cuenta!", "Tiene un email de confirmación pendiente en la bandeja de entrada", 'info');
	</script>
</body>

</html>